@model Gallery.Web.Models.DetailsViewModel

@{
    ViewData["Title"] = "Details and comments";
}

<h1>@Model.Title</h1>

<div>
    <hr />
    <dl class="row">
        <dd class="col-sm-12">
            <img src="@("~/Image/"+Model.ImageName)" alt="@Model.ImageName" asp-append-version="true" />
        </dd>
        <dt class="col-sm-12">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.Details)
        </dd>
    </dl>
    <h4>Comments</h4>
    <hr />
</div>
<div>
    @foreach (var item in Model.Comments)
    {
    <div class="row">
        <h5 class="col-2">@item.AppUser.UserName</h5> <span>@item.TimeCreated</span>
        <p class="col-12">@item.Text</p>
        @* Access to delete comments for admin and comment creator *@
        @if (item.AppUser==Model.CurrentAppUser || Model.CurrentAppUser.UserName=="igne@admin.com")
        {
            <a class="col-1" asp-controller="Comment" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            <a class="col-1" asp-controller="Comment" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        }
    </div>
    }
</div>
<div>
    <form asp-controller="Comment" asp-action="Create" method="post">
        <a asp-controller="Comment" asp-action="Create" asp-route-id="@Model.PostId" class="btn btn-primary">Click to write a comment</a>
    </form>
</div>
<div>
    @* Admin access to post edit and admin gallery buttons *@
    @if (Model.CurrentAppUser.UserName == "igne@admin.com")
    {
        <a asp-action="Edit" asp-route-id="@Model.PostId" class="btn btn-success">Edit post</a>
        <a asp-action="Index" class="btn btn-secondary">Back to admin gallery</a>
    }
    <a asp-action="GuestGallery" class="btn btn-secondary">Back to gallery</a>
</div>
