@model IEnumerable<Gallery.Domains.Post>

@{
    ViewData["Title"] = "Admin gallery";
}

<h1>Admin Galerija</h1>

<p>
    <a asp-action="Create">Add a new Image</a>
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-3">
            <img src="@("~/Image/"+item.ImageName)" alt="@item.ImageName" asp-append-version="true" width="250" height="250" />
        </div>
        <div class="col-3">
            <h3>
                @Html.DisplayFor(modelItem => item.Title)
            </h3>
            <p>
                @Html.DisplayFor(modelItem => item.ImageName)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Details)
            </p>
            <span>
                <a asp-action="Edit" asp-route-id="@item.PostId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PostId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PostId">Delete</a>
            </span>
        </div>
    }
</div>

